/* ==========================================================================
   SHARED THEME SETTINGS
   ========================================================================== */

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

/* Used to set the size for <em> */
$doc-font-size              : 16;

/* Paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

<<<<<<< HEAD:_sass/_variables.scss

/* Lato Fonts */
/** Light: 300 **/
@font-face {
    font-family: "Lato";
    font-weight: 300;
    src: url("https://lqyjasonlee.github.io/assets/fonts/lato-light-webfont.woff2") format("woff2"), url("https://lqyjasonlee.github.io/assets/fonts/lato-light-webfont.woff") format("woff");
}
/** Regular: 400 **/
@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url("https://lqyjasonlee.github.io/assets/fonts/lato-regular-webfont.woff2") format("woff2"), url("https://lqyjasonlee.github.io/assets/fonts/lato-regular-webfont.woff") format("woff");
}
/** Bold: 700 **/
@font-face {
    font-family: "Lato";
    font-weight: 700;
    src: url("https://lqyjasonlee.github.io/assets/fonts/lato-bold-webfont.woff2") format("woff2"), url("https://lqyjasonlee.github.io/assets/fonts/lato-bold-webfont.woff") format("woff");
}
@font-face {
    font-family: "Lato";
    font-weight: 300;
    font-style: italic;
    src: url("https://lqyjasonlee.github.io/assets/fonts/Lato-LightItalic.woff2") format("woff2"), url("https://lqyjasonlee.github.io/assets/fonts/Lato-LightItalic.woff") format("woff");
}
/** Regular: 400 **/
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    src: url("https://lqyjasonlee.github.io/assets/fonts/Lato-Italic.woff2") format("woff2"), url("https://lqyjasonlee.github.io/assets/fonts/Lato-Italic.woff") format("woff");
}
/** Bold: 700 **/
@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: italic;
    src: url("https://lqyjasonlee.github.io/assets/fonts/Lato-BoldItalic.woff2") format("woff2"), url("https://lqyjasonlee.github.io/assets/fonts/Lato-BoldItalic.woff") format("woff");
}

/* system typefaces */
$serif                      : Constania, Palatino, Book Antiqua, Palatino Linotype, Palatino LT STD, Georgia, Times, serif;
$sans-serif                 : "Lato", ".SFNSText-Regular", -apple-system, "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
=======
/* System typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
>>>>>>> pr-2900:_sass/_themes.scss
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* Sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
/*$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;*/

/* Serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

<<<<<<< HEAD:_sass/_variables.scss
$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $sans-serif;

/* type scale */
=======
/* Type scale */
>>>>>>> pr-2900:_sass/_themes.scss
$type-size-1                : 2.441em;  // ~39.056px
$type-size-2                : 1.953em;  // ~31.248px
$type-size-3                : 1.563em;  // ~25.008px
$type-size-4                : 1.25em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 0.75em;   // ~12px
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);

<<<<<<< HEAD:_sass/_variables.scss
$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #fafafa;
$code-background-color-dark : $light-gray;
$text-color                 : #000000; /* $dark-gray; */
$border-color               : $lighter-gray;

$primary-color              : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;
$danger-color               : #ee5f5b;
$info-color                 : #499bb4; /* #52adc8; */
=======
$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/* ==========================================================================
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 20px !default;
$right-sidebar-width        : 30px !default;
$right-sidebar-width-wide   : 40px !default;

$susy: (
    columns: 12,
    column-width: 120px,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: after,
    container: $large,
    global-box-sizing: border-box,
);

/* ==========================================================================
   BRAND COLORS
   ========================================================================== */
>>>>>>> pr-2900:_sass/_themes.scss

$behance-color              : #1769FF;
$bluesky-color              : #1184fe;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$kaggle-color               : #20c0ff;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$mastodon-color             : #6364ff;
$orcid-color                : #a6ce39;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;
<<<<<<< HEAD:_sass/_variables.scss


/* links */
$link-color                 : $info-color;
$link-color-hover           : mix(#000, $link-color, 25%);
$link-color-visited         : mix(#fff, $link-color, 25%);
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%);

/* dard mode */
$dark-background-color: #1e1e1e;
$dark-text-color: #d4d4d4;
$dark-border-color: #383838;
$dark-code-background-color: #2d2d2d;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;



:root {
    --fallback_serif: serif;
    --fallback_sans: sans-serif;
    --font_main: "Lato";
    --family_main: var(--font_main), var(--fallback_sans);

    --fontWeight_bold: 700;
    --fontWeight_regular: 400;
    --fontWeight_light: 300;
}

/** 
    For demo purposes, font declarations are only added to specific elements (excluding body).
**/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--family_main);
    font-weight: var(--fontWeight_bold);
}

li {
    font-family: var(--family_main);
    font-weight: var(--fontWeight_light);
}

p {
    font-family: var(--family_main);
    font-weight: var(--fontWeight_light);
}
   
=======
   
>>>>>>> pr-2900:_sass/_themes.scss
